# Ignore node_modules
node_modules/

# Build output
.next/
frontend/.next/

# Ignore large binaries
postgresql-installer.exe
postgresql-installer-new.exe
frontend/node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node
